$color-black: #000;
$color-white: #fff;

.ScrollWrap {
  position: relative;
  overflow: hidden;

  :global {
    .wrap {
      width: 100%;
      height: 100%;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .scrollbar {
      z-index: 100000;
      pointer-events: none;
      transition: opacity 0.2s ease;

      &.scrollbarY {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 14px;

        .thumb {
          top: 0;
          right: 0;
          width: 100%;
        }
      }

      &.scrollbarX {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 14px;

        .thumb {
          bottom: 0;
          left: 0;
          height: 100%;
        }
      }

      .thumb {
        pointer-events: visible;
        position: absolute;
        opacity: 1;
        cursor: pointer;
        transition:
          background-color 0.2s ease,
          opacity 0.2s ease;
        z-index: 1;
        user-select: none;
      }
    }
  }

  &:global {
    &.defaultHideScrollbar {
      .scrollbar {
        opacity: 0;
      }
    }

    &:hover {
      .scrollbar {
        opacity: 1;
      }
    }

    &.light {
      .thumb {
        background-color: rgba($color-black, 0.05);

        &:hover {
          background-color: rgb($color-black, 0.2);
        }

        &:active {
          background-color: rgba($color-black, 0.3);
        }
      }
    }

    &.dark {
      .thumb {
        background-color: rgba($color-white, 0.05);

        &:hover {
          background-color: rgb($color-white, 0.2);
        }

        &:active {
          background-color: rgba($color-white, 0.3);
        }
      }
    }
  }
}
