.link {
  display: flex;
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.88);
  transition: background-color 0.2s ease;
  user-select: none;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.15);
  }

  :global {
    .icon {
      width: 16px;
      margin-right: 5px;
    }

    .title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
